* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#NavbarContainer {
  width: 100%;
  height: 100px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 5vw;
}

#NavbarContainer > svg {
  height: 10vh;
}

#nav-items > ul {
  display: flex;
  list-style: none;
}

#nav-items > ul > li {
  margin: 0px 2vw;
  font-size: 24px;
}

.Body-containter {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-container {
  margin-top: 30px;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
}

.search-box{
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
}

.top-restaurant-btn{
  margin-left: 2vw;
}

.search-box > input {
  width: 40vw;
  height: 5vh;
  border: 2px solid black;
  border-radius: 8px;
  margin-right: 3vw;
  padding: 10px;
}

.search-box > button {
  height: 4.5vh;
  border: 2px solid black;
  border-radius: 8px;
  padding: 1vh 1vw;
}

.res-card > img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.res-card {
  height: 420px;
  width: 220px;
  padding: 10px;
  margin: 15px;
  background-color: #f0f0f0;
  border-radius: 16px;
  transition: transform 0.2s;
  cursor: pointer; 
}

.shimmerCard{
  height: 420px;
  width: 220px;
  margin: 15px;
  background-color: #f0f0f0;
  border-radius: 16px;
}

.res-card > div {
    margin: 4px 0;
}
.res-card:hover {
  border: 1px solid black;
  transform: scale(1.03);
}

.navBar-btn{
  padding: 5px 10px;
  cursor: pointer;
}

.flex-column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card{
  font-family: sans-serif;
  width: 30vw;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5vh 5vw;
  padding: 2vh 2vw;
}


/* From Uiverse.io by Pravins01 */ 
.card {
  position: relative;
  width: 350px;
  height: 400px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 360px;
  height: 420px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

