* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#NavbarContainer {
  width: 100%;
  height: 100px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 5vw;
}

#NavbarContainer > svg {
  height: 10vh;
}

#nav-items > ul {
  display: flex;
  list-style: none;
}

#nav-items > ul > li {
  margin: 0px 2vw;
  font-size: 24px;
}

.Body-containter {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-container {
  margin-top: 30px;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
}

.search-box > input {
  width: 40vw;
  height: 5vh;
  border: 2px solid black;
  border-radius: 8px;
  margin-right: 3vw;
  padding: 10px;
}

.search-box > button {
  width: 10vh;
  height: 4.5vh;
  border: 2px solid black;
  border-radius: 8px;
}

.res-card > img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.res-card {
  /* height: 370px; */
  width: 220px;
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;
  border-radius: 16px;
  transition: transform 0.2s;
  cursor: pointer; 
}
.res-card > div {
    margin: 4px 0;
}
.res-card:hover {
  border: 1px solid black;
  transform: scale(1.03);
}


